/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    
    
}

header {
    background: linear-gradient(135deg, #1e90ff, #ff6347);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.intro, .portfolio, .resume, .contact {
    padding: 20px 0;
    background: #fff;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h2, .portfolio h2, .resume h2, .contact h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Maintains space between the main two columns */
    align-items: flex-start; /* Aligns items to the top */
}

.project {
    background: #e4e4e4;
    padding: 10px;
    margin-bottom: 20px; /* Keeps space between rows */
    flex: 1 1 45%; /* Adjusted to take up 45% of the container width */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px 2%; /* Additional spacing on sides */
}

footer {
    background: linear-gradient(135deg, #ff6347, #1e90ff);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.project h3 {
    margin-top: 0;
}



.links {
    display: flex;
  justify-content: space-between;
}

#tejimage {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
